body {
    font-family: 'Source Sans Pro', sans-serif;
    border:  solid 20px;
    padding: 20px;
    border-color: #BDC3C7;
    width: 80%;
    max-width: 700px;
    margin: 22px auto;
}
h2 {
    color: #2C3E50;
}
.date {
    color: #3498DB;
    letter-spacing: 1.8px;
}
hr {
    width: 100%;
    color: rgba(85, 85, 85, 0.2)
}
.blk{
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
    margin-left: 0px;
  }